<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>conectar</servlet-name>
        <servlet-class>controller.conectar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registro</servlet-name>
        <servlet-class>controller.basico.registro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>iniciarSesion</servlet-name>
        <servlet-class>controller.basico.iniciarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>anadirDinero</servlet-name>
        <servlet-class>controller.basico.anadirDinero</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>startSQL</servlet-name>
        <servlet-class>controller.basico.startSQL</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addCollection</servlet-name>
        <servlet-class>controller.admin.addCollection</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>chargeAddComic</servlet-name>
        <servlet-class>controller.admin.chargeAddComic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addComic</servlet-name>
        <servlet-class>controller.admin.addComic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadDeleteComics</servlet-name>
        <servlet-class>controller.admin.loadDeleteComics</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteComics</servlet-name>
        <servlet-class>controller.admin.deleteComics</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadDeleteColeccion</servlet-name>
        <servlet-class>controller.admin.loadDeleteColeccion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteColeccion</servlet-name>
        <servlet-class>controller.admin.deleteColeccion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadAddStockTienda</servlet-name>
        <servlet-class>controler.shop.loadAddStockTienda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addStockTienda</servlet-name>
        <servlet-class>controler.shop.addStockTienda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>comicsTienda</servlet-name>
        <servlet-class>controller.basico.comicsTienda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>tiendasCiudad</servlet-name>
        <servlet-class>controller.basico.tiendasCiudad</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>conectar</servlet-name>
        <url-pattern>/conectar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registro</servlet-name>
        <url-pattern>/registro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>iniciarSesion</servlet-name>
        <url-pattern>/iniciarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>startSQL</servlet-name>
        <url-pattern>/startSQL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addCollection</servlet-name>
        <url-pattern>/addCollection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>chargeAddComic</servlet-name>
        <url-pattern>/chargeAddComic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addComic</servlet-name>
        <url-pattern>/addComic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadDeleteComics</servlet-name>
        <url-pattern>/loadDeleteComics</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteComics</servlet-name>
        <url-pattern>/deleteComics</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>anadirDinero</servlet-name>
        <url-pattern>/anadirDinero</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadDeleteColeccion</servlet-name>
        <url-pattern>/loadDeleteColeccion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteColeccion</servlet-name>
        <url-pattern>/deleteColeccion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadAddStockTienda</servlet-name>
        <url-pattern>/loadAddStockTienda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addStockTienda</servlet-name>
        <url-pattern>/addStockTienda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>comicsTienda</servlet-name>
        <url-pattern>/comicsTienda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tiendasCiudad</servlet-name>
        <url-pattern>/tiendasCiudad</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
